From_DB.json
[{"id":"bfc0b719.e1d6e8","type":"mysql","z":"81cbfc42.e5205","mydb":"26770fab.9782d","name":"gyro_bms connection","x":200,"y":180,"wires":[["ec1b9cf3.d7933","2948f2fd.e201be"]]},{"id":"1eb42a1a.d5d146","type":"function","z":"81cbfc42.e5205","name":"Temperature query","func":"// msg.topic=\"SELECT Hilimit AS temperature, AXShortMsg AS notification FROM `alarm` WHERE FLC = 'THBH02-01-AHU07-CCO01-SARTMP'LIMIT 5\"\n// msg.topic=\"SELECT * FROM `testb`.`new_table`\";\nmsg.topic=\"SELECT * FROM `device` WHERE FLC LIKE '%ups%'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":140,"wires":[["bfc0b719.e1d6e8"]]},{"id":"d807aef3.0ebee","type":"inject","z":"81cbfc42.e5205","name":"Trigger Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["1eb42a1a.d5d146"]]},{"id":"8fcad293.629f5","type":"debug","z":"81cbfc42.e5205","name":"Query results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":180,"wires":[]},{"id":"2948f2fd.e201be","type":"function","z":"81cbfc42.e5205","name":"Get loop length","func":"global.set(\"loop\", msg.payload.length);\nreturn msg;\n\n// msg.payload = msg.payload[2].notification;\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["3b9a357a.29c61a"]]},{"id":"ae603412.162e28","type":"debug","z":"81cbfc42.e5205","name":"Length","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"3b9a357a.29c61a","type":"function","z":"81cbfc42.e5205","name":"Loop length","func":"msg.payload = global.get(\"loop\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["ae603412.162e28"]]},{"id":"ec1b9cf3.d7933","type":"function","z":"81cbfc42.e5205","name":"Set payload as global","func":"global.set(\"payload\", msg.payload);\nglobal.set(\"increment\", -1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["a957cafe.02b948"]]},{"id":"a957cafe.02b948","type":"counter-loop","z":"81cbfc42.e5205","name":"","counter":"il3ce2a0032bb62","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"loop","terminationType":"global","increment":1,"incrementType":"num","x":720,"y":100,"wires":[[],["19b132ba.e0db3d"]]},{"id":"19b132ba.e0db3d","type":"function","z":"81cbfc42.e5205","name":"Add num","func":"msg.payload = global.get(\"increment\") + 1;\nglobal.set(\"increment\", global.get(\"increment\") + 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["a957cafe.02b948","f51e848b.fb2ae8"]]},{"id":"f51e848b.fb2ae8","type":"function","z":"81cbfc42.e5205","name":"get payload","func":"msg.payload = global.get(\"payload\");\nmsg.payload = JSON.stringify(msg.payload[global.get(\"increment\")])\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":180,"wires":[["8fcad293.629f5"]]},{"id":"26770fab.9782d","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"gyro_bms","tz":"","charset":"UTF8"}]