FromDBLoop.json
[{"id":"c0702671.24f018","type":"mysql","z":"f1d30d2d.c37f1","mydb":"26770fab.9782d","name":"gyro_bms connection","x":380,"y":460,"wires":[["992ddc6.b81072","3b781f56.14d9c"]]},{"id":"bb9a2fc2.67987","type":"function","z":"f1d30d2d.c37f1","name":"Temperature query","func":"msg.topic=\"SELECT Hilimit AS temperature, AXShortMsg AS notification FROM `alarm` WHERE FLC = 'THBH02-01-AHU07-CCO01-SARTMP'LIMIT 5\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["c0702671.24f018"]]},{"id":"63a795e8.b93f1c","type":"inject","z":"f1d30d2d.c37f1","name":"Trigger Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":380,"wires":[["bb9a2fc2.67987"]]},{"id":"9e77fd99.ac195","type":"debug","z":"f1d30d2d.c37f1","name":"Query results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"992ddc6.b81072","type":"function","z":"f1d30d2d.c37f1","name":"Get loop length","func":"global.set(\"loop\", msg.payload.length);\nreturn msg;\n\n// msg.payload = msg.payload[2].notification;\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":420,"wires":[["5aa62f15.abdab"]]},{"id":"4e53006b.e8a46","type":"debug","z":"f1d30d2d.c37f1","name":"Length","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"5aa62f15.abdab","type":"function","z":"f1d30d2d.c37f1","name":"Loop length","func":"msg.payload = global.get(\"loop\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":460,"wires":[["4e53006b.e8a46"]]},{"id":"3b781f56.14d9c","type":"function","z":"f1d30d2d.c37f1","name":"Set payload as global","func":"global.set(\"payload\", msg.payload);\nglobal.set(\"increment\", -1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":380,"wires":[["7e61add1.e54e04"]]},{"id":"7e61add1.e54e04","type":"counter-loop","z":"f1d30d2d.c37f1","name":"","counter":"il3ce2a0032bb62","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"loop","terminationType":"global","increment":1,"incrementType":"num","x":900,"y":380,"wires":[[],["9ba33be5.0eb528"]]},{"id":"9ba33be5.0eb528","type":"function","z":"f1d30d2d.c37f1","name":"Add num","func":"msg.payload = global.get(\"increment\") + 1;\nglobal.set(\"increment\", global.get(\"increment\") + 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["7e61add1.e54e04","92ecdc67.c7315"]]},{"id":"92ecdc67.c7315","type":"function","z":"f1d30d2d.c37f1","name":"get payload","func":"msg.payload = global.get(\"payload\");\nmsg.payload = msg.payload[global.get(\"increment\")]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":440,"wires":[["9e77fd99.ac195"]]},{"id":"26770fab.9782d","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"","tz":"","charset":"UTF8"}]